:root {
  --main-font: "Poppins", sans-serif;
  --violet: #6d28d9;
  --blue: #289bde;
  --golden: #fbbf24;
}

/* Utilities  */
body {
  font-family: var(--main-font);
}

/* navbar  */
nav .container a {
  color: var(--violet);
}

.image-slider img {
  max-height: 600px;
  min-height: 500px;
  object-fit: cover;
  object-position: top;
}

/* discover course */
.section-height {
  margin-top: 130px;
}

/* button color section  */
.join-section,
.view-all-btn {
  background-color: var(--blue);
}

.fa-solid{
  color: var(--golden);
}

/* feedback student */
.feedback-image{
  width: 70px;
  height: 70px;
}
